<h1>Sign Your life Away</h1>

<form action="/users/signup" method="POST">
   <label>
        What is your email <input type="email" name="email" placeholder="Enter your email" />
    </label>
    <label>
        Enter your password <input type="password" name="password" placeholder="Enter your password" />
    </label>
    <label>
        What your first name ? <input type="text" name="name" placeholder="Enter your first name" />
    </label>
    <label>
        What your last name ? <input type="text" name="name" placeholder="Enter your last name" />
    </label>
    <button type="submit">Register</button>
</form>